<div id="project-div-comments">
    <h3>Comments</h3>
    {% for i in commentInfo %}
    <div>
        아이디: {{i["commentEmail"]}}     날짜 : {{i["date"]}}  추천 : {{i["like"]}}<br>
        내용: {{i["contents"]}}<br>
        <form action = "/likeComm" method = "POST" >
            <input name = "_id" type="hidden" value= {{i["_id"]}} />
            <input name = "proj_id" type="hidden" value= {{proj_id}} />
            <input type = "submit" value="like"/>
        </form>
        <form action = "/modifyComm" method = "POST" >
            <input name = "_id" type="hidden" value= {{i["_id"]}} />
            <input name = "proj_id" type="hidden" value= {{proj_id}} />
            <input type = "submit" value="modify"/>
        </form>
        <form action = "/deleteComm" method = "POST" >
            {%if session.userEmail %}
                <input name = "commentEmail" type="hidden" value={{session.userEmail}}/>
                <input name = "commentPassword" type="hidden" value={{session.userPassword}}/>
            {%elif session.adminEmail %}
                <input name = "commentEmail" type="hidden" value={{session.adminEmail}}/>
                <input name = "commentPassword" type="hidden" value={{session.adminPassword}}/>
            {%else%}
                Email : <input name = "commentEmail" type = "email" placeholder="Email"/><br>
                Password : <input name = "commentPassword" type = "password" placeholder="Password"/><br>
            {% endif %}
                <input name = "_id" type="hidden" value= {{i["_id"]}} />
                <input name = "proj_id" type="hidden" value= {{proj_id}} />
            <input type = "submit" value="delete"/>
        </form>
        <br>
    </div>
    {% endfor %}
    <div>
        <form action = "/postComm" method = "POST" >
            {%if session.userEmail %}
                <input name = "commentEmail" type="hidden" value={{session.userEmail}}/>
                <input name = "commentPassword" type="hidden" value={{session.userPassword}}/>
            {%elif session.adminEmail %}
                <input name = "commentEmail" type="hidden" value={{session.adminEmail}}/>
                <input name = "commentPassword" type="hidden" value={{session.adminPassword}}/>
            {%else%}
                Email : <input name = "commentEmail" type = "email" placeholder="Email"/><br>
                Password : <input name = "commentPassword" type = "password" placeholder="Password"/><br>
            {% endif %}
            contents : <input name = "contents" type="text" placeholder="contents"/><br>
            <input name = "proj_id" type="hidden" value= {{proj_id}} /><br>
            <input name = "like" type="hidden" value= 0 /><br>
            <input name = "date" type="hidden" value= "현재시간요요요" /><br>
            <input type = "submit" value="register"/>
        </form>
    </div>
</div>
