{% extends "base.html" %}
{% block content %}

<div class="project-div">
    <div id="sub-project">
    {{projInfo}}<br>
    {{commentInfo}}<br>
    {{index}}<br>
    {% for i in projInfo %}
        <h1>{{i["title"]}} </h1><br>

        {%with a = i.get("image")%}
            {% for cnt in a %}
                <img src= {{cnt}} style=" top:0; left: 0; width: 100%; height: 100%;"> <br>
            {% endfor %}
        {%endwith%}
        
        <br><br>
        
        <h3 >개발기간</h3>{{i["date"]}}<br><br>
        <h3 >role</h3>{{i["position"]}}<br><br>
        <h3 >stack</h3>
        {%with a = i.get("stack")%}
            {% for cnt in a %}
            {{cnt}} /
            {% endfor %}
        {%endwith%}<br><br>
        깃허브 링크 : <a href={{i["gitLink"]}} >Click</a><br>
        simulator : <a href={{i["simulator"]}} >Click</a><br><br>
        {{i["description"]}}<br><br>

        {% with proj_id = i["_id"] %}
        <h1>{{proj_id}}</h1>
            {% with commentInfo = commentInfo %}
                {% include "comments.html" %}
            {%endwith%}
        {%endwith%}
    {% endfor %}
    </div>
    
    <br>
    <br>
</div>
{% endblock %}
