{% block admin %}
{%for i in adminInfo%}

    <div class="typer" id="type">
       <h1 class="typer-text"> Hello</h1>
       
      </div> 


 <div class="container-fluid text-center bg-main" id="first-text">
        <p class="h3">About Us</p>
        <br><br>

        <img src="/static/src/smile.jpg" class="rounded-circle" id="img_profile">
        <br><br>

        <p class="h3">{{i["position"]}}</p>
        <P>{{i["introduce"]}}</P>

    </div>
    
    <!-- sub content -->
    <div class="contaniner-fluid text-center bg-sub">
        <p class="h3">Screendoor</p>
        <p>Screendoor는 한국 교통대학교 프로그래밍 동아리이며 해당 페이지는  첫 번째 프로젝트인  페이지만들기 포트폴리오입니다! By 승희 주원   </p>
    </div>





<div class="jumbotron text-center mb-0" id="ski">
    
    <h1 class="Skill">Skils</h1>
    <br><br>

    {% with language = i["language"]%}
    <div class="Skill_Content">
      <h2 class="Skill_Title">Launage</h2>
        <span class="Skill_Content">
         <div class="Skill_box">

<div class="Skill_image_container">
<img src="https://img.icons8.com/color/100/000000/python.png"> </div>
</span>
</div>
        {% for skill in language %}
        <b>{{skill[0]}} </b> {{skill[1]}} <br>
        {% endfor %}
    {% endwith %}
    
    <br><br>
    <h2 class="Skill_Title">Web Skils</h2>
        <span class="Skill_Content">
         <div class="Skill_box">

<div class="Skill_image_container">
<img src="https://img.icons8.com/color/100/000000/bootstrap.png"></div>
</span>
</div>

<br><br>
 <h2 class="Skill_Title">Database</h2>
        <span class="Skill_Content">
         <div class="Skill_box">

<div class="Skill_image_container">
<img src="https://img.icons8.com/color/100/000000/mongodb.png"> </div>
</span>
</div>


<br><br>
 <h2 class="Skill_Title">ETC</h2>
        <span class="Skill_Content">
         <div class="Skill_box">

<div class="Skill_image_container">
<img src="/static/src/aws.png" class="rounded-circle" width="100px" height="100px" >
<img src="/static/src/flask.png" class="rounded-circle"  width="100px" height="100px" > </div>
</span>
</div>


 
</div>
</div>
                  
                        
					 

{% endfor %}
{% endblock %}
