{% extends "base.html" %}
{% block  content %}

{%for i in adminInfo%}
<div class="first-div" id="first-text" >
    <br>
    <br>
    <h1> About me </h1>
</div>



<div class="second-div" id="second-text">
    <section>
        <h1>{{i["position"]}}</h1>
        <P>{{i["introduce"]}}
        </P>
    </section>
</div>


<div class="third-div" id="ski" >
    <br>
    <br>
    <h1>Skills</h1></br>
    
    {% with language = i["language"]%}
    <div id="launage">Launage</div></br>
    {% for skill in language %}
    <b>{{skill[0]}} </b> {{skill[1]}} <br>
    {% endfor %}
    {% endwith %}
    
    <br>
    <br>
    <div id="webskills">Web Skills</div></br>
    <div id="database">Database</div></br>
    <div id="etc">Etc</div></br>
    
</div>
{% endfor %}

<div class="project-div" id = "project-container">
    <br>
    <br>
    <h1>Project</h1>
    
    {%for i in projInfo%}
    
    <div id="sub-project">
        <div class="row">
            <div class="col1">
                {%with a = i.get("image")%}
                <img src= {{a[0]}} style=" top:0; left: 0; width: 100%; height: 100%;">
                    {%endwith%}
                    </div>
            
            <div class="col2">
                <h1>{{i["title"]}}</h1><br><br>
                
                <b>개발기간 : </b> {{i["date"]}}<br><br>
                <b>role : </b> {{i["position"]}}<br><br>
                <b>stack : </b>
                {%with a = i.get("stack")%}
                {% for cnt in a %}
                {{cnt}} /
                {% endfor %}
                {%endwith%}<br><br>
                깃허브 링크 : <a href={{i["gitLink"]}} >Click</a><br>
                simulator : <a href={{i["simulator"]}} >Click</a><br><br><br>
                {{i["description"]}}
                
                <form action=./detailed method="POST">
                    <input type="hidden" name = "idx" value = {{loop.index0}} >
                        <input type = "submit" value="more..">
                            </form><br>
            </div>
            
        </div>
    </div>
    
    <br>
    <br>
    {% endfor %}
</div>
{% endblock %}

