{% block proj %}

<div class="row"  style="text-align:center;" id = "project-container" >
 <div class="col-xs-12" style="float: none; margin:0 auto;"> 
    <br>
    <br>
    <h1>Project</h1>
    {% if session.adminEmail %}
         <button type="button" onclick="location.href='/post' ">  add </button>
    {% endif %}
    {%for i in projInfo%}
</div>
</div>
    <div id="sub-project">

        <div class="container-fluid row mt-5 " style="display:inline-block;text-align:center;">
            <div class="col-md-5" style="float: none; margin:0 auto;">
                {% if session.adminEmail %}
                <form action=./detailed method="POST">
                    <input type="hidden" name = "_id" value = {{i["_id"]}} >
                    <button type = "submit" class="btn btn-success" style="float:left; margin-left:15px" >modify</button>
                </form>
                <form action=./deleteProj method="POST">
                    <input type="hidden" name = "_id" value = {{i["_id"]}} >
                    <button type = "submit" class="btn btn-danger" style="float:left; margin-left:15px">delete</button>
                </form>
                {% endif %}
              
                {%with a = i.get("image")%}
                <img src= {{a[0]}} style=" top:0; left: 0; width: 100%; height: 100%;">
                {%endwith%}
                    </div>
            
            <div class="col-md-7" style="float: none; margin:0 auto;">
                <h1>{{i["title"]}}</h1><br><br>
                
                <b>개발기간 : </b> {{i["date"]}}<br><br>
                <b>role : </b> {{i["position"]}}<br><br>
                <b>stack : </b>
                {%with a = i.get("stack")%}
                {% for cnt in a %}
                {{cnt}} /
                {% endfor %}
                {%endwith%}<br><br>
                깃허브 링크 : <a href={{i["gitLink"]}} >Click</a><br>
                simulator : <a href={{i["simulator"]}} >Click</a><br><br><br>
                {{i["description"]}}
                
                <form action=./detailed method="POST">   
                    <input type="hidden" name = "_id" value = {{i["_id"]}} >
                    <button type = "submit" class="btn btn-primary"> More</button>
                </form><br><br>
            </div>
        </div>
    </div>
    
    <br><br><br><br>
    {% endfor %}
</div>
{% endblock %}

