{% block proj %}

<div class="row"  style="text-align:center;" >
 <div class="col-xs-12" style="float: none; margin:0 auto;"> 
    <br>
    <br>
    <h1>Project</h1>
    {% if session.adminEmail %}
         <button type="button" onclick="location.href='/post' ">  add </button>
    {% endif %}
    {%for i in projInfo%}
</div>
</div>
    <div class = "Container" style="text-align:center; margin:0 auto">
       
        <div class="card" style="width:400px float:left;">
           
           
                {%with a = i.get("image")%}
                <img class="card-img-top"  src= {{a[0]}} style="  left:0; top:0; width:100%; height:100%;">
                    {%endwith%}
                   
            
            <div class="card-body">
                <h1 class="card-title">{{i["title"]}}</h1><br><br>
                
               <p class="card-text">  <b>개발기간 : </b> {{i["date"]}}<br><br>
                <b>role : </b> {{i["position"]}}<br><br>
                <b>stack : </b>
                {%with a = i.get("stack")%}
                {% for cnt in a %}
                {{cnt}} /
                {% endfor %}
                {%endwith%}<br><br>
                깃허브 링크 : <a href={{i["gitLink"]}} >Click</a><br>
                simulator : <a href={{i["simulator"]}} >Click</a><br><br><br>
                {{i["description"]}} </p>
                
                <form action=./detailed method="POST">
                    
                    <input type="hidden" name = "_id" value = {{i["_id"]}} >
                    <button type = "submit" class="btn btn-primary"> More</button>
                </form><br><br>
            </div>
          </div>
          </div>
  
    <br><br><br><br>
    {% endfor %}

{% endblock %}

