{% extends "base.html" %}
{% block content %}
<div>
    <div>
        {%with adminInfo=adminInfo%}
            {% include "homeAdminInfo.html" %}
        {%endwith%}
    </div>

    <div>
        {%with projInfo=projInfo %}
            {% include "homeProjInfo.html" %}
        {%endwith%}
    </div>
    
    <div class="contact-div" id="cont">
        <h1>Contact</h1>
        {% for i in adminInfo%}
        {{i}}
        {% endfor %}

        <h3>0603yang@naver.com</h3>
    </div>
</div>

{% endblock %}
