{% extends "base.html" %}
{% block  content %}
    <form action=./signin method="POST">
        일반 계정:
        <input type ="email" name="userEmail"/>
        <input type = "password" name="userPassword">
        <input type = "submit" value="signin">
    </form>
    <br>
    <form action=./adminsignin method="POST">
        관리자 계정:
        <input type ="email" name="adminEmail"/>
        <input type = "password" name="adminPassword">
        <input type = "submit" value="adminsignin">
    </form>
    <br>
    아직 회원이 아니신가요? <a href = "signup"> 회원가입 </a>
{% endblock %}
