   

{% for tweet in posts %}

<div class="card" style="margin-bottom:30px">

	<div class="card-body">

		<blockquote class="blockquote">

			<h5 class="card-title mb-0">{{tweet.title}}</h5>

			<footer class="blockquote-footer">{{tweet.date}}<cite title="Source Title">-{{tweet.postAuthor}}</cite></footer>

		</blockquote>

		<p class="card-text">{{tweet.description}}</p>
		<p class="card-text">{{tweet.position}}</p>
		

		{% if info == tweet.postAuthor %}

		{% include "removemodal.html" %}{% include "modifymodal.html" %}

		{% endif %}

	</div>

</div>

{% endfor %}